body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  text-decoration: none;
  color: rgb(245, 246, 160);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
header li a {
  text-decoration: none;
  color: rgb(245, 246, 1);
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
header li a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(245, 246, 1);
}
header li {
  margin-left: 10px;
}
header ul {
  display: flex;
}
footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 36px 0;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  width: 80px;
  height: 80px;
  margin: 0 45px;
}
footer img {
  width: 100%;
  height: 100%;
}
